﻿@model airlinemvc.Models.TicketClass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TicketClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TicketClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketClassName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketClassID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
