﻿@model IEnumerable<airlinemvc.Models.TicketClass>

@{
    ViewBag.Title = "Index";
}
<style>
    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        align-items: flex-end;
    }

    h2 {
        color: white;
    }
</style>
<h2>Ticket Classes</h2>
<div class="trans">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketClassName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketClassName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TicketClassID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TicketClassID })
                </td>
            </tr>
        }

    </table>
</div>