﻿@model airlinemvc.ViewModels.UserView
@{
    ViewBag.Title = "AddPermission";
}
<style>
    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        align-items: flex-end;
    }

    h2 {
        color: white;
    }
    h {
        color: white;
    }
</style>
<h2>Add Permission to User : @Model.Name</h2>
<h3>@ViewBag.Error</h3>
<div class="trans">
    @using (Html.BeginForm("AddRole", "Users", new { userID = Model.UserID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.Role.RoleID, "Permission", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("RoleID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Role.RoleID, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />
            <br />

            @Html.ActionLink("Back to List", "Roles", new { userID = Model.UserID }, new { @class = "btn btn-info" })
            <input type="submit" value="Add Permission" class="btn btn-success" />
        </div>
    }
</div>
