﻿@model IEnumerable<airlinemvc.ViewModels.UserView>
@{
    ViewBag.Title = "Permissions Manager";
}
<style>
    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        align-items: flex-end;
    }

    h2 {
        color: white;
    }
</style>
<h2>Permissions Manager</h2>
<div class="trans">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Roles", "Roles", new { UserID = item.UserID })
                </td>
            </tr>
        }

    </table>
</div>