﻿@model airlinemvc.ViewModels.UserView
@{
    ViewBag.Title = "Permissions";
}
<style>
    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        align-items: flex-end;
    }

    h2 {
        color: white;
    }
</style>
<h2>Permissions</h2>
<div class="trans">
    <p>
        @Html.ActionLink("Add Permission", "AddRole", new { userID = Model.UserID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-info" })
    </p>

    <table class="table">

        @for (int i = 0; i < Model.Roles.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Roles[i].NameRole)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { userID = Model.UserID, roleID = Model.Roles[i].RoleID })
                </td>
            </tr>
        }

    </table>
</div>