﻿@model airlinemvc.Models.Flight

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Airplane.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Airplane.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryDestination.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryDestination.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryOrigin.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryOrigin.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightTotalSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightTotalSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightAvailableSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightAvailableSeats)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FlightID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
