﻿@model airlinemvc.Models.Flight

@{
    ViewBag.Title = "Edit";
}
<style>
    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        align-items: flex-end;
    }

    h2 {
        color: white;
    }
</style>
<h2>Edit</h2>

<div class="trans">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Flight</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.FlightID)

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CountryOriginID, "CountryOriginID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CountryOriginID", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.CountryOriginID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="idOrigin">
                @Html.LabelFor(model => model.OriginID, "OriginID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("OriginID", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.OriginID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CountryDestinationID, "CountryDestinationID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CountryDestinationID", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.CountryDestinationID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DestinationID, "DestinationID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DestinationID", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.DestinationID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AirplaneID, "AirplaneID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AirplaneID", null, htmlAttributes: new { @class = "form-control", @onchange = "javascript:getAirplaneSeats(this.value)", @readonly="readonly" })
                    @Html.ValidationMessageFor(model => model.AirplaneID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepartureTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DepartureTime, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local"} })
                    @Html.ValidationMessageFor(model => model.DepartureTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FlightTotalSeats, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FlightTotalSeats, new { htmlAttributes = new { @class = "form-control getSeats", @id = "getSeats", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.FlightTotalSeats, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script type="text/javascript">

        function getAirplaneSeats(AirplaneID) {
            $.ajax({
                type: 'POST',
                url: "/Flights/PostSeats",
                cache: false,
                data: { AirplaneID },
                success: function (data) {
                    $(".getSeats").val(data);
                },

                error: function () {
                    alert('InSuccess')
                    var ErrorMessage = "No Available Seats...";
                    $(".getSeats").val(ErrorMessage);
                }
            });
        }

    </script>

