﻿@model IEnumerable<airlinemvc.Models.Flight>

@{
    ViewBag.Title = "IndexAnonymous";
}
<style>
    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        align-items: flex-end;
    }

    h2 {
        color: white;
    }
</style>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js">

</script>

<h2>Flights</h2>

<div class="trans">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="heading">
                        @Html.Label("Country of Destination", htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.DropDownList("Countries", null, "[Choose a Country]", htmlAttributes: new { @class = "form-control getCountry", @id = "country", @onchange = "javascript:getCountriesDestination(this.value)" })
            </div>
            <div class="col-md-4">
                @Html.RadioButton("FlightWay", "Going") Going
                @Html.RadioButton("FlightWay", "Return") Return
                @Html.RadioButton("FlightWay", "TwoWay") Round-Trip
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                @Html.Label("City of Destination", htmlAttributes: new { @class = "control-label ", @id = "label" })
            </div>
            <div class="col-md-4">
                <label id="labelDate">Flight Date</label>
            </div>
            <div class="col-md-4">
                <label id="labelDateReturn">Return Flight Date</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.DropDownList("Cities", null, "[Choose a Country First...]", htmlAttributes: new { @class = "form-control cityDestination", @id = "city" })
            </div>
            <div class="col-md-4">
                <input type="date" name="somedate" id="date" class="form-control" onkeydown="return false" />
            </div>
            <div class="col-md-4">
                <input type="date" name="somedateReturn" id="dateReturn" class="form-control" onkeydown="return false" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <input type="button" id="search" value="Search Flights" class="btn btn-default" />
            </div>
            <div class="col-md-4">
                <input type="button" id="location" value="Show All Flights" class="btn btn-default" />
            </div>
            @*<div class="col-md-4">
                    <input type="button" id="showAll" value="Show All Flights" class="btn btn-default" />
                </div>*@
        </div>
        <br />
        <table class="table" id="getTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FlightID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountryOrigin.CountryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Origin.CityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CountryDestination.CountryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Destination.CityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr id="@item.FlightID" class="RowFlight">
                    <td>
                        <span class="labelDisplay">@Html.DisplayFor(modelItem => item.FlightID)</span>
                    </td>
                    <td>
                        <span class="labelDisplay">@Html.DisplayFor(modelItem => item.CountryOrigin.CountryName)</span>
                    </td>
                    <td>
                        <span class="labelDisplay">@Html.DisplayFor(modelItem => item.Origin.CityName)</span>
                    </td>
                    <td>
                        <span class="labelDisplay">@Html.DisplayFor(modelItem => item.CountryDestination.CountryName)</span>
                    </td>
                    <td>
                        <span class="labelDisplay">@Html.DisplayFor(modelItem => item.Destination.CityName)</span>
                    </td>
                    <td>
                        <span class="labelDisplay">@Html.DisplayFor(modelItem => item.DepartureTime)</span>
                    </td>
                    <td>
                        <span class="labelDisplay">@Html.DisplayFor(modelItem => item.ArrivalTime)</span>
                    </td>
                    <td>
                        @Html.ActionLink("Book Tickets", "SendFlight", new { @id = item.FlightID })
                    </td>
                </tr>
            }

        </table>
        <div id="loading" class="row text-center">
            <img src="~/Content/Images/preloaderAirplane.gif" class="center-block">
        </div>
        <div class="Up">
            <div class="Low">
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">

        function getCountriesDestination(CountryID) {
            $.ajax({
                type: 'POST',
                url: "/Flights/PostCities",
                cache: false,
                data: { CountryID },
                success: function (data) {

                    var markup;

                    for (var i = 0; i < data.length; i++) {
                        markup += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                    }
                    $(".cityDestination").html(markup).show();
                    $("#city").attr("disabled", false);
                },

                error: function () {
                    var ErrorMessage = "<option value='0'> Select a Country...</option>";
                    $(".cityDestination").html(ErrorMessage).show();
                    $("#city").attr("disabled", false);
                }
            });
        }

        window.addEventListener('load', () => {
            $("#dateReturn").hide();
            $("#labelDateReturn").hide();
            let going = document.querySelector('input[value = "Going"]');
            $(going).prop("checked", true);
            var lst = document.getElementsByClassName('labelDisplay');
            var rows = document.getElementsByClassName('RowFlight');
            for (var i = 0; i < lst.length; i++) {
                lst[i].style.display = 'none';
            }
            for (var i = 0; i < rows.length; i++) {
                rows[i].style.display = 'none';
            }
            document.getElementById('loading').style.display = 'none';
        });

        window.addEventListener('load', () => {
            $("#city").attr("disabled", "disabled");
        });

        let radioGroup = document.querySelectorAll('input[name = "FlightWay"]');

        for (let radio of radioGroup) {
            radio.addEventListener('click', (e) => {

                let selectedBoxes = document.querySelectorAll('input[name = "FlightWay"]:checked');
                let result = "";
                for (let selected of selectedBoxes) {

                    var value = selected.getAttribute("value");

                    if (value == "TwoWay") {
                        $("#dateReturn").show();
                        $("#labelDateReturn").show();
                    }
                    else {
                        $("#dateReturn").hide();
                        $("#labelDateReturn").hide();
                    }
                }
            });
        }

        //$('#showAll').on('click', function () {
        //    toggle_by_classShow('labelDisplay');
        //    var rows = document.getElementsByClassName('RowFlight');
        //    for (var i = 0; i < rows.length; i++) {
        //        rows[i].style.display = '';
        //    }
        //});

        $('#search').on('click', function () {

            var countryValue = $("#country").val();

            if ($("#country").val() === "") {
                showError('You have choose a Country');
            }

            var cityValue = $("#city option:selected").text();

            var way;
            var date;
            var dateReturn;

            let selectedBoxes = document.querySelectorAll('input[name = "FlightWay"]:checked');
            let result = "";
            for (let selected of selectedBoxes) {

                var value = selected.getAttribute("value");

                if (value == "Going") {
                    way = 1;
                    date = $("#date").val();
                    if ($("#date").val() === "") {
                        showError('You have choose a Date');
                    }
                    else {
                        var lst = document.getElementsByClassName('labelDisplay');
                        var rows = document.getElementsByClassName('RowFlight');
                        for (var i = 0; i < lst.length; i++) {
                            lst[i].style.display = 'none';
                        }
                        for (var i = 0; i < rows.length; i++) {
                            rows[i].style.display = 'none';
                        }
                        document.getElementById('loading').style.display = 'block';
                        setTimeout(toggle_by_classGoing, 3000, 'labelDisplay', countryValue, cityValue, date, way);
                    }
                }
                if (value == "Return") {
                    way = 2;
                    date = $("#date").val();
                    if ($("#date").val() === "") {
                        showError('You have choose a Date');
                    }
                    else {
                        var lst = document.getElementsByClassName('labelDisplay');
                        var rows = document.getElementsByClassName('RowFlight');
                        for (var i = 0; i < lst.length; i++) {
                            lst[i].style.display = 'none';
                        }
                        for (var i = 0; i < rows.length; i++) {
                            rows[i].style.display = 'none';
                        }
                        document.getElementById('loading').style.display = 'block';
                        setTimeout(toggle_by_classReturn, 3000, 'labelDisplay', countryValue, cityValue, date, way);
                    }
                }
                if (value == "TwoWay") {
                    way = 3;
                    date = $("#date").val();
                    if ($("#date").val() === "") {
                        showError('You have choose a Going Date');
                    }
                    dateReturn = $("#dateReturn").val();
                    if ($("#dateReturn").val() === "") {
                        showError('You have choose a Return Date');
                    }
                    if (date !== "" && dateReturn !== "") {
                        var lst = document.getElementsByClassName('labelDisplay');
                        var rows = document.getElementsByClassName('RowFlight');
                        for (var i = 0; i < lst.length; i++) {
                            lst[i].style.display = 'none';
                        }
                        for (var i = 0; i < rows.length; i++) {
                            rows[i].style.display = 'none';
                        }
                        document.getElementById('loading').style.display = 'block';
                        setTimeout(toggle_by_classRound, 3000, 'labelDisplay', countryValue, cityValue, date, dateReturn, way);
                    }
                }
            }

            //Função para mostrar os erros
            function showError(error) {

                //Criar a div
                const errorDiv = document.createElement('div');

                //Buscar os elementos
                const card = document.querySelector('.card');
                const heading = document.querySelector('.heading');

                //Adicionar a classe
                errorDiv.className = 'alert alert-danger';

                //Texto a colocar na div
                errorDiv.appendChild(document.createTextNode(error));

                //Inserir no html a mensagem de erro;
                card.insertBefore(errorDiv, heading);

                setTimeout(clearError, 3000);
            }
            //Limpar a mensagem de erro
            function clearError() {
                document.querySelector('.alert').remove();
            }
        });

        document.getElementById('location').onclick = function () {

            var countryValue = $(".getCountry").val();

            var cityValue = $("#city option:selected").text();

            var way;

            let selectedBoxes = document.querySelectorAll('input[name = "FlightWay"]:checked');
            let result = "";
            for (let selected of selectedBoxes) {

                var value = selected.getAttribute("value");

                if (value == "Going") {
                    way = 1;
                    if ($(".getCountry").val() === "") {
                        showError('You have choose a Country');
                    }
                    else {
                        var lst = document.getElementsByClassName('labelDisplay');
                        var rows = document.getElementsByClassName('RowFlight');
                        for (var i = 0; i < lst.length; i++) {
                            lst[i].style.display = 'none';
                        }
                        for (var i = 0; i < rows.length; i++) {
                            rows[i].style.display = 'none';
                        }
                        document.getElementById('loading').style.display = 'block';
                        setTimeout(toggle_by_classGoingLocation, 3000, 'labelDisplay', countryValue, cityValue, way);
                    }
                }
                if (value == "Return") {
                    way = 2;
                    if ($(".getCountry").val() === "") {
                        showError('You have choose a Country');
                    }
                    else {
                        var lst = document.getElementsByClassName('labelDisplay');
                        var rows = document.getElementsByClassName('RowFlight');
                        for (var i = 0; i < lst.length; i++) {
                            lst[i].style.display = 'none';
                        }
                        for (var i = 0; i < rows.length; i++) {
                            rows[i].style.display = 'none';
                        }
                        document.getElementById('loading').style.display = 'block';
                        setTimeout(toggle_by_classReturnLocation, 3000, 'labelDisplay', countryValue, cityValue, way);
                    }
                }
                if (value == "TwoWay") {
                    way = 3;
                    if ($(".getCountry").val() === "") {
                        showError('You have choose a Country');
                    }
                    else {
                        var lst = document.getElementsByClassName('labelDisplay');
                        var rows = document.getElementsByClassName('RowFlight');
                        for (var i = 0; i < lst.length; i++) {
                            lst[i].style.display = 'none';
                        }
                        for (var i = 0; i < rows.length; i++) {
                            rows[i].style.display = 'none';
                        }
                        document.getElementById('loading').style.display = 'block';
                        setTimeout(toggle_by_classRoundLocation, 3000, 'labelDisplay', countryValue, cityValue, way);
                    }
                }
            }
            //Função para mostrar os erros
            function showError(error) {

                //Criar a div
                const errorDiv = document.createElement('div');

                //Buscar os elementos
                const card = document.querySelector('.card');
                const heading = document.querySelector('.heading');

                //Adicionar a classe
                errorDiv.className = 'alert alert-danger';

                //Texto a colocar na div
                errorDiv.appendChild(document.createTextNode(error));

                //Inserir no html a mensagem de erro;
                card.insertBefore(errorDiv, heading);

                setTimeout(clearError, 3000);
            }
            //Limpar a mensagem de erro
            function clearError() {
                document.querySelector('.alert').remove();
            }
        }

        function toggle_by_classGoing(cls, CountryID, CityID, Date, Way) {
            var lst = document.getElementsByClassName('labelDisplay');
            let x = 4;
            let z = 0;
            let y = 0;
            var rows = document.getElementsByClassName('RowFlight');
            for (var i = 0; i < lst.length; i++) {
                lst[i].style.display = 'none';
            }
            for (var i = 0; i < rows.length; i++) {
                rows[i].style.display = 'none';
            }
            var rowsArray = [...rows];
            if (Way === 1) {
                for (var i = 0; i < lst.length; i++) {

                    if (x === i) {
                        var city = lst[x];
                        if (city.innerHTML === CityID) {
                            z = 1;
                            if (z === 1) {
                                var date = lst[x + 1];
                                var dateParse = date.innerHTML;
                                var dateGoingString = dateParse.toString();
                                var dataSplit = dateGoingString.split(' ');
                                var month1 = dataSplit[1].toLowerCase();
                                if (month1 === "fev") {
                                    month1 = "feb";
                                }
                                if (month1 === "abr") {
                                    month1 = "apr";
                                }
                                if (month1 === "mai") {
                                    month1 = "may";
                                }
                                if (month1 === "ago") {
                                    month1 = "aug";
                                }
                                if (month1 === "set") {
                                    month1 = "sep";
                                }
                                if (month1 === "out") {
                                    month1 = "oct";
                                }
                                if (month1 === "dez") {
                                    month1 = "dec";
                                }
                                var months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
                                var month = months.indexOf(month1);
                                if (month < 9) {
                                    var monthAgain = "0" + (month + 1);
                                }
                                else
                                {
                                    monthAgain = month + 1;
                                }
                                var array = [dataSplit[2], monthAgain, dataSplit[0]];
                                var NewDate = array.join('-');
                                var dateString = Date.toString();
                                if (NewDate === dateString) {
                                    z = 2;
                                    if (z === 2) {
                                        if (rowsArray[y].id === lst[i - 4].innerHTML) {
                                            rowsArray[y].style.display = '';
                                        }
                                        lst[i - 4].style.display = '';
                                        lst[i - 3].style.display = '';
                                        lst[i - 2].style.display = '';
                                        lst[i - 1].style.display = '';
                                        lst[i].style.display = '';
                                        lst[i + 1].style.display = '';
                                        lst[i + 2].style.display = '';
                                    }
                                }
                            }
                        }
                        x = x + 7;
                        y++;
                    }
                }
            }
            CheckFlights();
            document.getElementById('loading').style.display = 'none';
        }

        function CheckFlights() {
            let check = 0;
            var rows = document.getElementsByClassName('RowFlight');
            for (var i = 0; i < rows.length; i++) {
                if (rows[i].style.display === '') {
                    check = 1;
                }
            }
            if (check === 0) {
                document.getElementById('loading').style.display = 'none';
                showNoFlight("There are no Flights");
            }

            function showNoFlight(error) {

                //Criar a div
                const errorDiv = document.createElement('div');

                //Buscar os elementos
                const card = document.querySelector('.Up');
                const heading = document.querySelector('.Down');

                //Adicionar a classe
                errorDiv.className = 'alert alert-danger';

                //Texto a colocar na div
                errorDiv.appendChild(document.createTextNode(error));

                //Inserir no html a mensagem de erro;
                card.insertBefore(errorDiv, heading);

                setTimeout(clearError, 3000);
            }
            //Limpar a mensagem de erro
            function clearError() {
                document.querySelector('.alert').remove();
            }
        }

        function toggle_by_classReturn(cls, CountryID, CityID, Date, Way) {

            var lst = document.getElementsByClassName('labelDisplay');
            let x = 2;
            let z = 0;
            let y = 0;
            var rows = document.getElementsByClassName('RowFlight');
            for (var i = 0; i < lst.length; i++) {
                lst[i].style.display = 'none';
            }
            for (var i = 0; i < rows.length; i++) {
                rows[i].style.display = 'none';
            }
            var rowsArray = [...rows];
            if (Way === 2) {
                for (var i = 0; i < lst.length; i++) {

                    if (x === i) {
                        var city = lst[x];
                        if (city.innerHTML === CityID) {
                            z = 1;
                            if (z === 1) {
                                var date = lst[x + 3];
                                var dateParse = date.innerHTML;
                                var dateGoingString = dateParse.toString();
                                var dataSplit = dateGoingString.split(' ');
                                var month1 = dataSplit[1].toLowerCase();
                                if (month1 === "fev") {
                                    month1 = "feb";
                                }
                                if (month1 === "abr") {
                                    month1 = "apr";
                                }
                                if (month1 === "mai") {
                                    month1 = "may";
                                }
                                if (month1 === "ago") {
                                    month1 = "aug";
                                }
                                if (month1 === "set") {
                                    month1 = "sep";
                                }
                                if (month1 === "out") {
                                    month1 = "oct";
                                }
                                if (month1 === "dez") {
                                    month1 = "dec";
                                }
                                var months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
                                var month = months.indexOf(month1);
                                if (month < 9) {
                                    var monthAgain = "0" + (month + 1);
                                }
                                else
                                {
                                    monthAgain = month + 1;
                                }
                                var array = [dataSplit[2], monthAgain, dataSplit[0]];
                                var NewDate = array.join('-');
                                var dateString = Date.toString();
                                if (NewDate === dateString) {
                                    z = 2;
                                    if (z === 2) {
                                        if (rowsArray[y].id === lst[x - 2].innerHTML) {
                                            rowsArray[y].style.display = '';
                                        }
                                        lst[x - 2].style.display = '';
                                        lst[x - 1].style.display = '';
                                        lst[x].style.display = '';
                                        lst[x + 1].style.display = '';
                                        lst[x + 2].style.display = '';
                                        lst[x + 3].style.display = '';
                                        lst[x + 4].style.display = '';
                                    }
                                }
                            }
                        }
                        x = x + 7;
                        y++;
                    }
                }
            }
            CheckFlights();
            document.getElementById('loading').style.display = 'none';
        }

        function toggle_by_classRound(cls, CountryID, CityID, Date, ReturnDate, Way) {

            var lst = document.getElementsByClassName('labelDisplay');
            let x = 4;
            let z = 0;
            let y = 0;
            var rows = document.getElementsByClassName('RowFlight');
            for (var i = 0; i < lst.length; i++) {
                lst[i].style.display = 'none';
            }
            for (var i = 0; i < rows.length; i++) {
                rows[i].style.display = 'none';
            }
            var rowsArray = [...rows];
            for (var i = 0; i < lst.length; i++) {

                if (x === i) {
                    var city = lst[x];
                    if (city.innerHTML === CityID) {
                        z = 1;
                        if (z === 1) {
                            var date = lst[x + 1];
                            var dateParse = date.innerHTML;
                            var dateGoingString = dateParse.toString();
                            var dataSplit = dateGoingString.split(' ');
                            var month1 = dataSplit[1].toLowerCase();
                            if (month1 === "fev") {
                                month1 = "feb";
                            }
                            if (month1 === "abr") {
                                month1 = "apr";
                            }
                            if (month1 === "mai") {
                                month1 = "may";
                            }
                            if (month1 === "ago") {
                                month1 = "aug";
                            }
                            if (month1 === "set") {
                                month1 = "sep";
                            }
                            if (month1 === "out") {
                                month1 = "oct";
                            }
                            if (month1 === "dez") {
                                month1 = "dec";
                            }
                            var months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
                            var month = months.indexOf(month1);
                            if (month < 9) {
                                var monthAgain = "0" + (month + 1);
                            }
                            else
                            {
                                monthAgain = month + 1;
                            }
                            var array = [dataSplit[2], monthAgain, dataSplit[0]];
                            var NewDate = array.join('-');
                            var dateString = Date.toString();
                            if (NewDate === dateString) {
                                z = 2;
                                if (z === 2) {
                                    if (rowsArray[y].id === lst[i - 4].innerHTML) {
                                        rowsArray[y].style.display = '';
                                    }
                                    lst[i - 4].style.display = '';
                                    lst[i - 3].style.display = '';
                                    lst[i - 2].style.display = '';
                                    lst[i - 1].style.display = '';
                                    lst[i].style.display = '';
                                    lst[i + 1].style.display = '';
                                    lst[i + 2].style.display = '';
                                }
                            }
                        }
                    }
                    x = x + 7;
                    y++;
                }
            }

            x = 2;
            z = 0;
            y = 0;
            for (var i = 0; i < lst.length; i++) {

                if (x === i) {
                    var city = lst[x];
                    if (city.innerHTML === CityID) {
                        z = 1;
                        if (z === 1) {
                            var date = lst[x + 3];
                            var dateParse = date.innerHTML;
                            var dateGoingString = dateParse.toString();
                            var dataSplit = dateGoingString.split(' ');
                            var month1 = dataSplit[1].toLowerCase();
                            if (month1 === "fev") {
                                month1 = "feb";
                            }
                            if (month1 === "abr") {
                                month1 = "apr";
                            }
                            if (month1 === "mai") {
                                month1 = "may";
                            }
                            if (month1 === "ago") {
                                month1 = "aug";
                            }
                            if (month1 === "set") {
                                month1 = "sep";
                            }
                            if (month1 === "out") {
                                month1 = "oct";
                            }
                            if (month1 === "dez") {
                                month1 = "dec";
                            }
                            var months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
                            var month = months.indexOf(month1);
                            if (month < 9) {
                                var monthAgain = "0" + (month + 1);
                            }
                            else
                            {
                                monthAgain = month + 1;
                            }
                            var array = [dataSplit[2], monthAgain, dataSplit[0]];
                            var NewDate = array.join('-');
                            var dateString = ReturnDate.toString();
                            if (NewDate === dateString) {
                                z = 2;
                                if (z === 2) {
                                    if (rowsArray[y].id === lst[x - 2].innerHTML) {
                                        rowsArray[y].style.display = '';
                                    }
                                    lst[x - 2].style.display = '';
                                    lst[x - 1].style.display = '';
                                    lst[x].style.display = '';
                                    lst[x + 1].style.display = '';
                                    lst[x + 2].style.display = '';
                                    lst[x + 3].style.display = '';
                                    lst[x + 4].style.display = '';
                                }
                            }
                        }
                    }
                    x = x + 7;
                    y++;
                }
            }
            CheckFlights();
            document.getElementById('loading').style.display = 'none';
        }

        function toggle_by_classShow(cls) {
            var lst = document.getElementsByClassName('labelDisplay');

            for (var i = 0; i < lst.length; i++) {
                lst[i].style.display = '';
            }
        }

        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("somedate")[0].setAttribute('min', today);
        document.getElementsByName("somedateReturn")[0].setAttribute('min', today);

        function toggle_by_classGoingLocation(cls, CountryID, CityID, Way) {
            var lst = document.getElementsByClassName('labelDisplay');
            let x = 4;
            let z = 0;
            let y = 0;
            var rows = document.getElementsByClassName('RowFlight');
            for (var i = 0; i < lst.length; i++) {
                lst[i].style.display = 'none';
            }
            for (var i = 0; i < rows.length; i++) {
                rows[i].style.display = 'none';
            }
            var rowsArray = [...rows];
            if (Way === 1) {
                for (var i = 0; i < lst.length; i++) {

                    if (x === i) {
                        var city = lst[x];
                        if (city.innerHTML === CityID) {
                            z = 1;
                            if (z === 1) {
                                if (rowsArray[y].id === lst[i - 4].innerHTML) {
                                    rowsArray[y].style.display = '';
                                }
                                lst[i - 4].style.display = '';
                                lst[i - 3].style.display = '';
                                lst[i - 2].style.display = '';
                                lst[i - 1].style.display = '';
                                lst[i].style.display = '';
                                lst[i + 1].style.display = '';
                                lst[i + 2].style.display = '';
                            }
                        }
                        x = x + 7;
                        y++;
                    }
                }
            }
            CheckFlights();
            document.getElementById('loading').style.display = 'none';
        }

        function toggle_by_classReturnLocation(cls, CountryID, CityID, Way) {

            var lst = document.getElementsByClassName('labelDisplay');
            let x = 2;
            let z = 0;
            let y = 0;
            var rows = document.getElementsByClassName('RowFlight');
            for (var i = 0; i < lst.length; i++) {
                lst[i].style.display = 'none';
            }
            for (var i = 0; i < rows.length; i++) {
                rows[i].style.display = 'none';
            }
            var rowsArray = [...rows];
            if (Way === 2) {
                for (var i = 0; i < lst.length; i++) {

                    if (x === i) {
                        var city = lst[x];
                        if (city.innerHTML === CityID) {
                            z = 1;
                            if (z === 1) {
                                if (rowsArray[y].id === lst[x - 2].innerHTML) {
                                    rowsArray[y].style.display = '';
                                }
                                lst[x - 2].style.display = '';
                                lst[x - 1].style.display = '';
                                lst[x].style.display = '';
                                lst[x + 1].style.display = '';
                                lst[x + 2].style.display = '';
                                lst[x + 3].style.display = '';
                                lst[x + 4].style.display = '';
                            }
                        }
                        x = x + 7;
                        y++;
                    }
                }
            }
            CheckFlights();
            document.getElementById('loading').style.display = 'none';
        }

        function toggle_by_classRoundLocation(cls, CountryID, CityID, Way) {

            var lst = document.getElementsByClassName('labelDisplay');
            let x = 4;
            let z = 0;
            let y = 0;
            var rows = document.getElementsByClassName('RowFlight');
            for (var i = 0; i < lst.length; i++) {
                lst[i].style.display = 'none';
            }
            for (var i = 0; i < rows.length; i++) {
                rows[i].style.display = 'none';
            }
            var rowsArray = [...rows];
            for (var i = 0; i < lst.length; i++) {

                if (x === i) {
                    var city = lst[x];
                    if (city.innerHTML === CityID) {
                        z = 1;
                        if (z === 1) {
                            if (rowsArray[y].id === lst[i - 4].innerHTML) {
                                rowsArray[y].style.display = '';
                            }
                            lst[i - 4].style.display = '';
                            lst[i - 3].style.display = '';
                            lst[i - 2].style.display = '';
                            lst[i - 1].style.display = '';
                            lst[i].style.display = '';
                            lst[i + 1].style.display = '';
                            lst[i + 2].style.display = '';
                        }
                    }
                    x = x + 7;
                    y++;
                }
            }

            x = 2;
            z = 0;
            y = 0;
            for (var i = 0; i < lst.length; i++) {

                if (x === i) {
                    var city = lst[x];
                    if (city.innerHTML === CityID) {
                        z = 1;
                        if (z === 1) {
                            if (rowsArray[y].id === lst[x - 2].innerHTML) {
                                rowsArray[y].style.display = '';
                            }
                            lst[x - 2].style.display = '';
                            lst[x - 1].style.display = '';
                            lst[x].style.display = '';
                            lst[x + 1].style.display = '';
                            lst[x + 2].style.display = '';
                            lst[x + 3].style.display = '';
                            lst[x + 4].style.display = '';
                        }
                    }
                    x = x + 7;
                    y++;
                }
            }
            CheckFlights();
            document.getElementById('loading').style.display = 'none';
        }
    </script>

