﻿@model airlinemvc.Models.TicketPrice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TicketPrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TicketClass.TicketClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketClass.TicketClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketType.TicketTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketType.TicketTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPriceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPriceValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriceValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketPriceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
