﻿@model IEnumerable<airlinemvc.Models.TicketPrice>

@{
    ViewBag.Title = "Index";
}
<style>
    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        align-items: flex-end;
    }

    h2 {
        color: white;
    }
</style>
<h2>Ticket Prices</h2>
<div class="trans">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketClass.TicketClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType.TicketTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPriceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPriceValue)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketClass.TicketClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.TicketTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriceValue)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TicketPriceID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TicketPriceID })
                </td>
            </tr>
        }

    </table>
    </div>