﻿@model airlinemvc.Models.Ticket

@{
    ViewBag.Title = "CreateClient";
}
<style>
    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
    }

    h2 {
        color: white;
    }
    h3 {
        color: white;
    }
</style>
@*<h2>Create</h2>*@

<h3>@ViewBag.info</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="row trans">
    <div class="col-md-6">
        <div class="form-horizontal">
            <h4>Ticket</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Class", null, "[Choose a Class...]", htmlAttributes: new { @class = "form-control", @id = "class" })
                    @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Type", null, "[Choose a Type...]", htmlAttributes: new { @class = "form-control", @id = "type" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Seat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Seat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "getSeats" } })
                    @Html.ValidationMessageFor(model => model.Seat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TicketPriceID, "TicketPriceID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TicketPriceID, new { htmlAttributes = new { @class = "form-control getPrice", @id = "getPrice", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.TicketPriceID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "IndexClient", "Flights")
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Please select a Seat</h3>
        <div id="messagePanel" class="messagePanel"></div>
        <br /><br /><br />
    </div>
</div>
    }



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Content/Seats.css" rel="stylesheet" />

    <script>
    src="https://code.jquery.com/jquery-2.1.0.min.js"</script>

}


    <script type="text/javascript">

        function createseating(destDiv, number) {

            let count = 1;

            let num = number / 6;

            let numresult = Math.trunc(num) + 1;

            for (var i = 0; i < numresult; i++) {

                for (var j = 0; j < 6; j++) {

                    var totalCheckboxes = $('input:radio').length;

                    if (totalCheckboxes < number) {

                        var seats = ["A", "B", "C", "D", "E", "F"];

                        if (j === 2) {
                            inputtype = "<input type='radio' value='" + count + seats[j] + "' name='checkit' class='check'>" + "\xa0\xa0\xa0\xa0\xa0\xa0";
                            destDiv.innerHTML += inputtype;
                        }
                        else {
                            inputtype = "<input type='radio' value='" + count + seats[j] + "' name='checkit' class='check'>";
                            destDiv.innerHTML += inputtype;
                        }
                    }
                    if (j === 5) {
                        count++;
                    }
                }
            }
        }

        function TakenSeats() {

            let seats = document.querySelectorAll("input[name='checkit']");

            for (var y = 0; y < seats.length; y++) {
                
                var array = @Html.Raw(Json.Encode(ViewBag.tickets));

                for (var l = 0; l < array.length; l++) {
                    if (seats[y].value == array[l]) {
                        seats[y].disabled = 'true';
                    }
                }
            }
        }

    window.addEventListener('load', () => {

        let messagePanel = document.querySelector('#messagePanel');

        createseating(messagePanel, @ViewBag.seats);

        TakenSeats();
    });
</script>

<script type="text/javascript">

    window.addEventListener('load', () => {
        function getTicketPrice() {
            TicketClassID = document.getElementById('class').value;
            TicketTypeID = document.getElementById('type').value;
            $.ajax({
                type: 'POST',
                url: "/Tickets/PostTicketPrice",
                cache: false,
                data: { TicketClassID, TicketTypeID },
                success: function (data) {
                    $("#getPrice").val(data);
                },

                error: function () {
                    var ErrorMessage = "Select Class and Type";
                    $("#getPrice").val(ErrorMessage);
                }
            });
        }

        let radios = document.querySelectorAll('input[name = "checkit"]');

        for (let radio of radios) {
            radio.addEventListener('click', (e) => {

                let selectedBoxes = document.querySelectorAll('input[name = "checkit"]:checked');
                let result = "";
                for (let selected of selectedBoxes) {
                    //alert(selected.value);
                    $('#getSeats').val(selected.value);
                }

            });
        }

        let classTypeControls = []; //Lista de controlos para ver se algum é mexido, despoleta o método getTicketPrice()
        classTypeControls.push(document.querySelector('#class'));
        classTypeControls.push(document.querySelector('#type'));

        for (let control of classTypeControls) {
            control.addEventListener('change', () => {
                getTicketPrice()
            });
        }
    });

</script>


