﻿@model airlinemvc.Models.Ticket

@{
    ViewBag.Title = "DeleteEmployee";
}
<style>
    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        align-items: flex-end;
    }

    h2 {
        color: white;
    }
</style>
<h2>DeleteEmployee</h2>
<div class="trans">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Ticket</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Client.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Client.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Flight.FlightID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Flight.FlightID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TicketPrice.TicketPriceName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketPrice.TicketPriceName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DOB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Class)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Class)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Seat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Seat)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "IndexTicketsEmployee")
            </div>
        }
    </div>
</div>

