﻿@model IEnumerable<airlinemvc.Models.Ticket>

@{
    ViewBag.Title = "IndexClient";
}
<style>
    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
    }

    h2 {
        color: white;
    }
</style>
<h2>Tickets</h2>
<div class="row trans">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" id="Search" placeholder="Search" class="form-control col-md-4" />
                </div>
            </div>
        </div>
    </div>
        <p>
            @Html.ActionLink("Book New Ticket", "IndexClient", "Flights")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Client.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Flight.FromTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketPrice.TicketPriceValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Class)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seat)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="Search">
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flight.FromTo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPrice.TicketPriceValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seat)
                    </td>
                </tr>
            }

        </table>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $('#Search').keyup(function () {
                var searchtext = $('#Search').val().toLowerCase();
                $('.Search').each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchtext)) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });

        });
    </script>

