﻿@model airlinemvc.Models.Airplane

@{
    ViewBag.Title = "Delete";
}
<style>
    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        align-items: flex-end;
    }

    h2 {
        color: white;
    }
</style>
<h2>Delete</h2>

<div class="trans">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Airplane</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Brand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AirplaneRange.RangeDistance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AirplaneRange.RangeDistance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CruiseSpeed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CruiseSpeed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Seats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Seats)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

</div>
