﻿@model airlinemvc.Models.Airplane

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Airplane</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirplaneRange.RangeDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirplaneRange.RangeDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CruiseSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CruiseSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AirplaneID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
