﻿@model IEnumerable<airlinemvc.Models.Airplane>

@{
    ViewBag.Title = "IndexEmployee";
}
<style>
    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        align-items: flex-end;
    }

    h2 {
        color: white;
    }
</style>
<h2>Airplanes</h2>
<div class="trans">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" id="Search" placeholder="Search" class="form-control col-md-4" />
                </div>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Create New", "CreateEmployee")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirplaneRange.RangeDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CruiseSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="Search">
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirplaneRange.RangeDistance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CruiseSpeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seats)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditEmployee", new { id = item.AirplaneID })
                </td>
            </tr>
        }

    </table>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $('#Search').keyup(function () {
            var searchtext = $('#Search').val().toLowerCase();
            $('.Search').each(function () {
                if (!Contains($(this).text().toLowerCase(), searchtext)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });

    });
</script>

