﻿@{
    ViewBag.Title = "About";
}

<style>
    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
    }
    h2{
        color:white;
    }
    h3 {
        color: white;
    }
</style>

<h2>LisbonAir</h2>
<h3>Feel Lisbon</h3>

<div class="trans">
    <h4>We can fly you to the wonderful city of Lisbon where everything can happen.</h4>
    <h4>You can explore the surroundings and the deepest secrets of this old city.</h4>
    <br/>
    <p>Created by António Frazão - 2019</p>
</div>