﻿@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        display: flex;
        justify-content: center;
    }

    .trans {
        background-color: black;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        align-items: flex-end;
    }

    .btn {
        color: black;
    }
</style>

<p style="color: white; font-size:650%">We will fly you to Lisbon</p>
<div class="trans">

    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/Images/cape-1600x900.jpg" alt="Alternate Text" width="225" height="200" />
            <h2>Nature</h2>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/pena-1600x900.jpg" alt="Alternate Text" width="225" height="200" />
            <h2>Culture</h2>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/mar-1600x900.jpg" alt="Alternate Text" width="225" height="200" />
            <h2>Adventure</h2>
        </div>
    </div>
</div>

